{% extends 'layout.html' %}

{% block content %}

<br/>
  <div class="row">
    <div class="col s6 m6">
      <div class="card">
        <div class="card-content ">
          <span class="card-title">{{user}}'s' Campaigns  </span>
          <p>
            <a href="#">Campaigns</a> : {{ savedCampaigns|length }}
            <br/>
            <a href="#">Keywords</a> : {{ searchResultData|length }}
            <br/>
            <a href="#">Status </a> : Active
            <br/>
            <a href="#">Account Type </a> : Free 
          </p>
          <br/>
          <a href="newCampaign" id="download-button" class="btn-small waves-effect waves-light teal lighten-1">Create New Campaign </a>
          <a href="campaignOverview" id="download-button" class="btn-small waves-effect waves-light teal lighten-1"> Campaign Overview </a>
        </div>

      </div>
    </div>

   <div class=" ">
    <div class="col s6 m6">
      <div class="card">
        <div class="card-content ">
          <span class="card-title">Update Password  </span>
            <label for="icon_prefix">New Password </label>
            <input id="icon_telephone" type="password" class="validate">
            <label for="icon_telephone">Confirm  Password</label>
            <input id="icon_telephone" type="tel" class="validate">
            <br/> 
            <a href="#" id="download-button" class="btn-small waves-effect waves-light teal lighten-1">update </a>
          </div>
        </div>
      </div>
    </div>
   </div>


  <div class="row">
     <div class="col s6 m6">
      <div class="card  ">
        <div class="card-content">
            <span class="card-title"> Update Account  </span>
            <table>
              <thead>
              
              </thead>
              <tbody>
               <tr>
                <td>
                  <a href="#" id="download-button" class="btn-small waves-effect waves-light #757575 lime darken-1">Silver </a>
                </td>
                <td>
                  <a href="#" id="download-button" class="btn-small waves-effect waves-light yellow darken-11">Gold </a>
                </td>
                <td>
                  <a href="#" id="download-button" class="btn-small waves-effect waves-light blue-grey darken-1">Platinum </a>
                </td>
               </tr>
             </tbody>
          </table>
        </div>
      </div>
    </div>
     <div class="col s6 m6">
      <div class="card  ">
        <div class="card-content">
            <span class="card-title">Campaigns  </span>
            <table>
              <thead>
                <tr>
                  <th>No</th>
                  <th>Name</th>
                  <th>Created On</th>
                </tr>
              </thead>
              <tbody>
              {% for data in savedCampaigns %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ data.name }}</td>
                <td>{{ data.created_on }}</td>
               </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
