{% extends 'layout.html' %}

{% block content %}
         <div class="section no-pad-bot">
          <div class="container">
            <br><br>
            <h1 class="header center teal-text text-lighten-2">Demo App</h1>
            <div class="row center">
              <h5 class="header col s12 light">New Account</h5>
                         <label class="red-text text-darken-2">{{message}}</label> 
            </div>
            <div class="row  ">
               <div class="row  ">

                <form class="col s12" action='saveNewUser', method='post'>
                  {% csrf_token %}
                  <div class="row center">
                    <div class="input-field col s12 center">
                      <i class="material-icons prefix">tel</i>
                      <input id="icon_telephone" type="text" class="validate" required name='username'>
                      <label for="icon_telephone">username</label>
                    </div>
                  </div>
                  <div class="row center">
                    <div class="input-field col s12 center">
                      <i class="material-icons prefix">tel</i>
                      <input id="icon_telephone0" type="text" class="validate" required name='email'>
                      <label for="icon_telephone0">email</label>
                    </div>
                  </div>
                  <div class="row center">
                    <div class="input-field col s12 center">
                      <i class="material-icons prefix">tel</i>
                      <input id="icon_telephone1" type="password" class="validate" required name='password'>
                      <label for="icon_telephone1">Password</label>
                    </div>
                  </div>
                  <p>
                    <label>
                      <input type="checkbox"  name="havePRHunterAccount"/>
                      <span>I have a PRHunters.com account</span>
                    </label>
                  
                    <label>
                      <input type="checkbox"  name="sendUpdates" />
                      <span>Please keep send me updates and announcements about this tool and others</span>
                    </label>
                  </p>
                  <div class="row center">
                    <input type='hidden' value='{{next}}' name='next'>
                    <button type='submit' class  = 'btn-small waves-effect waves-light teal lighten-1'> signup </button>
                  </div>
                  <div class="row center">
                {% if user.is_authenticated %}
              </a> 
              {% elif request.path != '/newUser' %}
                <a href="/newUser?next={{ request.get_full_path|urlencode }}" id="download-button" class="  btn-small waves-effect waves-light teal lighten-1">New here , Signup for free</a>
              {% else %}
                {% if next != None %}
                  <a href="accounts/login/?next={{next}}" id="download-button" class="  btn-small waves-effect waves-light teal lighten-1">Already have an account, Login</a>
                {% else %}
                  <a href="accounts/login/?next=/" id="download-button" class="  btn-small waves-effect waves-light teal lighten-1">Already have an account, Login</a>
                {% endif %}
              {% endif %}
            </div>
                  
                </form>
              </div>
            </div>
            <br><br>

          </div>
        </div>
 

{% endblock %}